# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
!*.tfvars.example
*.hcl
!**/.terraform.lock.hcl

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# crash log
crash.log
crash.*.log
