#!/bin/bash
set -e
cd "${repo_root}"

git config user.email "terraform@detailsnap.ci"
git config user.name "Terraform"
git pull --rebase origin main

cat > k8s/overlays/qa/gateway/cert-patch.yaml << CERT_PATCH
- op: replace
  path: /metadata/annotations/alb.ingress.kubernetes.io~1certificate-arn
  value: ${cert_arn}
- op: replace
  path: /metadata/annotations/external-dns.alpha.kubernetes.io~1hostname
  value: qa.tlecuyer.codes
CERT_PATCH

cat > k8s/overlays/uat/gateway/cert-patch.yaml << CERT_PATCH
- op: replace
  path: /metadata/annotations/alb.ingress.kubernetes.io~1certificate-arn
  value: ${cert_arn}
- op: replace
  path: /metadata/annotations/external-dns.alpha.kubernetes.io~1hostname
  value: uat.tlecuyer.codes
CERT_PATCH

cat > k8s/overlays/prod/gateway/cert-patch.yaml << CERT_PATCH
- op: replace
  path: /metadata/annotations/alb.ingress.kubernetes.io~1certificate-arn
  value: ${cert_arn}
- op: replace
  path: /metadata/annotations/external-dns.alpha.kubernetes.io~1hostname
  value: prod.tlecuyer.codes
CERT_PATCH

git add k8s/overlays/qa/gateway/cert-patch.yaml \
        k8s/overlays/uat/gateway/cert-patch.yaml \
        k8s/overlays/prod/gateway/cert-patch.yaml

git diff --cached --quiet && exit 0

git commit -m "chore: update gateway cert ARN [skip ci]"
git push origin main
